.terms-container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .terms-container h1 {
    font-size: 2em;
    font-weight: bold;
    color: #FF6F61;
    margin-bottom: 20px;
    text-align: center; /* Mantén el título centrado */
  }
  
  .terms-container h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    color: #FF6F61;
  }
  
  .terms-container p {
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .terms-container ul {
    margin: 10px 0 20px 20px;
    padding-left: 20px;
  }
  
  .terms-container ul li {
    list-style-type: disc;
    margin-left: 20px;
  }
  