.dashboard-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #FF6F61;
  color: #fff;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-image {
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
}

.app-logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}